body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #2c3e50;
  padding: 0;
  margin: 0;
}

.navbar {
  padding: 0.7rem 1.5rem;
  line-height: 2.2rem;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  height: 3.6rem;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #eaecef;
}
.navbar .logo {
  height: 2.2rem;
  min-width: 2.2rem;
  margin-right: 0.8rem;
  vertical-align: top;
}
.navbar .site-name {
  display: none;
}
.navbar .links {
  padding-left: 1.5rem;
  box-sizing: border-box;
  background-color: #fff;
  white-space: nowrap;
  font-size: 0.9rem;
  position: absolute;
  right: 1.5rem;
  top: 0.7rem;
  display: flex;
}

.nav-links {
  display: inline-block;
}
.nav-links .nav-item {
  position: relative;
  display: inline-block;
  margin-left: 1.5rem;
  line-height: 2rem;
}
.playground a {
  line-height: 1.4rem;
  display: inline-block;
  color: inherit;
  font-weight: 500;
  text-decoration: none;
}

.playground a:hover, .nav-links a.router-link-active {
  margin-bottom: -2px;
  border-bottom: 2px solid #2f66e4;
  color: #2c3e50;
}

.nav-links a {
  display: inline-block;
}

.nav-links .repo-link {
  margin-left: 1.5rem;
}

.lf-playground {
  display: flex;
  padding-top: 3.6rem;
  padding: 4rem 1rem 0 0;
  height: calc(100vh - 4.6rem);
}

.lf-playground-ide {
  flex-grow: 1;
  height: 100%;
  --playground-preview-width: 60%;
}

.sidebar {
  width: 20%;
  max-width: 20rem;
  flex-shrink: 0;
}
