.lf-html-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
  user-select: none;
}
.lf-html-overlay__transform > * {
  pointer-events: all;
}

.lf-text-editable {
  pointer-events: all;
}
.lf-text-input {
  outline: none;
  position: absolute;
  border: 1px solid #edefed;
  line-height: 1.2;
  border-radius: 3px;
  resize: none;
  padding: 5px;
  min-height: 20px;
  min-width: 100px;
  white-space: pre;
  background: #FFF;
  transform: translate(-50%, -50%);
}