.node-resize-list {
  margin-bottom: 20px;
}
.node-resize-rect {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  margin-right: 10px;
  background: #fff;
  cursor: pointer;
}
.node-resize-diamond {
  display: inline-block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #000;
  margin-right: 10px;
  background: #fff;
  transform:rotate(45deg);
  margin-top: 20px;
  cursor: pointer;
}
.node-resize-ellipse {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000;
  margin-right: 20px;
  background: #fff;
  cursor: pointer;
}