.table-container {
  padding: 10px;
  box-sizing: border-box;
}
.table-node {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 30%);
  overflow: hidden;
}
.table-node::before {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  background: #d79b00;
}
.table-node.table-color-1::before {
  background: #9673a6;
}
.table-node.table-color-2::before {
  background: #dae8fc;
}
.table-node.table-color-3::before {
  background: #82b366;
}
.table-node.table-color-4::before {
  background: #f8cecc;
}
.table-name {
  height: 28px;
  text-align: center;
  line-height: 28px;
  background: #f5f5f5;
  font-size: 14px;
}
.table-feild {
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.feild-type {
  color: #9f9c9f;
}
/*自定义锚点样式*/
.custom-anchor {
  stroke: #999;
  stroke-width: 1;
  fill: #d9d9d9;
  cursor: crosshair;
  rx: 3;
  ry: 3;
}
.custom-anchor:hover {
  fill: #ff7f0e;
  stroke: #ff7f0e;
}
.lf-node-not-allow .custom-anchor:hover {
  stroke: #999;
  fill: #d9d9d9;
  cursor: not-allowed;
}
.incomming-anchor {
  stroke: #d79b00;
}
.outgoing-anchor {
  stroke: #82b366;
}
