# don't ever lint node_modules
node_modules

# don't lint build output (make sure it's set to your correct build folder name)
*.min.js
es/**
lib/**
dist/**

# don't lint nyc coverage output
coverage
types
packages/core/types

packages/extension/src/bpmn-adapter/xml2json.ts
packages/extension/src/bpmn-adapter/json2xml.ts

examples/vue3-memory-leak

**/*.d.ts
