# dependencies
node_modules

# production
lib
es
dist
output
stats.html

coverage
types/**

# misc
.DS_Store
.pnpm-*.log
.idea
.turbo
npm-debug.log
yarn-error.log

/.github_token
/TMP_CHANGELOG.md
/.openai_token
/.github_account

logic-flow-docs.tar.gz

.umi/
tmp
tmp-production
