@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1607513827519'); /* IE9 */
  src: url('iconfont.eot?t=1607513827519#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK8AAsAAAAABoAAAAJwAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBCIEfATYCJAMICwYABCAFhG0HMxvIBcgucJwnBNBpM/cZQ72UtUEAJIggHCtnkxyieiqDJFTAllBVqLcF9lW2wlSzZ4f2tt9PU0BhanNXW5ZVhAoVYN4Hzkth5+f0jJubkJsdtwYqdb1eGKurte0IwiCXVZhoFxVH9JhujaJXcEYcTptAgcwHKZc5JkddgPHWQPfAaAsXSeQN08sXOBDnCTQtKIkdOTZbQlahpwXi/h3jCNlCUFFYpi5UG9YW8UJKPT1M7/A8+n78sjPqJJVM15y+2b9A6yuYHLU8W7YJCEIgoM0VZGwGCnG+MXlSQjBaQpMzaSVQlMjX8yLYLI5qEOyv0+VtMAeFzyRy4kctT6DAwTXAoUlvobTbpXHl/XTMnsgiJjxA1/L380Wdm5cemVsdpcvm8+/fecML+F6a1bR8U4ECZWE+lOJRvdfdE4dGxc/CqpjfgQMAs8f5X04MweWl199g9lyngC//P+zIP3tcDHOD+jlcwb8SDWwoQqI16aJC5ErW5PwSsKKJGe0d+piqndyYPdQLIoakZh5Z3WpioW5GRctuVNXtR9Mmw80tIywhSgMbPQOEvhckXW+R9b0RC/UdFVP/qOpHRtPFGO3ZsjbuNA8/oKPQBU9PaJ0DX1mL5OPKORlX98h5SURfE2srgvWt28uZIfnESyzQN6MholBx4OEAXEauG2DIgU1nqZgiYbO67WbTjSrnwIO8wxg5EuQCnTxBlrOATwWtRb7y+TliuHIdcUddzr1GmGYNj+oqagOIQ6U/qO5RrtFuDA1CKEhhAQ8agFHE5QqgsHmUjZyJCnNCPNRUNc3UUGVle7X3d9ugSetSGEfWePLCspAWAA==') format('woff2'),
  url('iconfont.woff?t=1607513827519') format('woff'),
  url('iconfont.ttf?t=1607513827519') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1607513827519#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e654";
}

