.example-header {
  padding: 7px 10px;
  margin-bottom: 10px;
  border-bottom: 1px rgb(230, 230, 230) solid;
  color: rgb(90, 90, 90);
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.example-header .content {
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content-text {
  padding-right: 6px;
}

.example-header .tools {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
