.approve-example-container {
  position: relative;
  height: 100%;
}
.node-panel {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 70px;
  padding: 20px 10px;
  background-color: white;
  box-shadow: 0 0 10px 1px rgb(228, 224, 219);
  border-radius: 6px;
  text-align: center;
  z-index: 101;
}
.approve-node {
  display: inline-block;
  margin-bottom: 20px;
}
.node-label {
  font-size: 12px;
  margin-top: 5px;
}
.node-jugement .node-label {
  margin-top: 15px;
}
.property-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  margin: 0;
  background-color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  z-index: 101;
  box-shadow: 0 0 10px 1px rgb(228, 224, 219);
}
.property-panel-footer {
  width: 100%;
  text-align: center;
}
.property-panel-footer .property-panel-footer-hide {
  width: 200px;
}
.approve-example-container .lf-control{
  position: fixed;
  top: 10px;
  left: calc(50vw - 150px);
  width: 275px;
  box-shadow: 0 0 10px #888888;
}
.form-property{
  width: 30%;
}
.hover-panel{
  position: fixed;
}