.uml-wrapper{
  background: #68FCE2;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid #838382;
  box-sizing: border-box;
}
.uml-head {
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
}
.uml-body {
  border-top: 1px solid #838382;
  border-bottom: 1px solid #838382;
  padding: 5px 10px;
  font-size: 12px;
}
.uml-footer {
  padding: 5px 10px;
  font-size: 14px;
}
