.approve-example-container {
  position: relative;
  height: 100%;
}
.approve-example-container .lf-control{
  position: fixed;
  top: 10px;
  left: calc(50vw - 150px);
  width: 275px;
  box-shadow: 0 0 10px #888888;
}
.hover-panel{
  position: absolute;
  z-index: 101;
}