.viewport {
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.graph-container *:focus {
  outline: none;
}

.graph-container .rect {
  width: 50px;
  height: 50px;
  background: #fff;
  border: 2px solid #000;
}

.graph-container .circle {
  width: 50px;
  height: 50px;
  background: #fff;
  border: 2px solid #000;
  border-radius: 50%;
}

.graph-container .uml-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: rgb(255 242 204);
  border: 1px solid rgb(214 182 86);
  border-radius: 10px;
}

.graph-container .uml-head {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.graph-container .uml-body {
  padding: 5px 10px;
  font-size: 12px;
  border-top: 1px solid rgb(214 182 86);
  border-bottom: 1px solid rgb(214 182 86);
}

.graph-container .uml-footer {
  padding: 5px 10px;
  font-size: 14px;
}

/* 输入框字体大小和设置的大小保持一致，自动换行输入和展示保持一致 */

.graph-container .lf-text-input {
  font-size: 12px;
}

.graph-container .buttons {
  position: absolute;
  z-index: 1;
}

.graph-container .button-list {
  display: flex;
  align-items: center;
}
