.lf-tool-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
}
.lf-tool-overlay > * {
  pointer-events: all;
}

.lf-keyboard-tips {
  float: right;
}
.lf-node-select-decorate {
  transform: translate(-50%, -50%);
  pointer-events: none;
  border: 1px dashed #343435;
  position: absolute;
}
.lf-selection {
  position: absolute;
  border: 2px dashed rgba(24, 125, 255, 0.8);
  box-shadow: 0px 0px 3px 0px rgba(24,125,255, 0.5);
  cursor: move;
  /* pointer-events: none; */
}
