.circle .lf-dnd-shape {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 20px;
}
.rect .lf-dnd-shape {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid black;
}