name: Node.js Package
on:
  push:
    tags:
      - v*
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    # Setup .npmrc file to publish to GitHub Packages
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'
        registry-url: 'https://registry.npmjs.org'
        # Defaults to the user or organization that owns the workflow file
    - run: npm install
    - run: npm run lerna:publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}